@import "../../../vendors/include-media";

#facilities {
  margin-bottom: 10px;
  .hotel-details__most-popular {
    display: flex;
    flex-wrap: wrap;
    .most-popular__icon {
      margin-right: 20px;
      margin-bottom: 20px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background-color: #fff;
        border: 1px solid #cccccc;
        border-radius: 2px;
        img {
          width: 60%;
          height: 60%;
        }
      }
      .icon-extend {
        display: block;
        width: 70px;
        height: 70px;
        font-size: 30px;
        font-weight: 100;
        background: none;
        border: none;
        outline: none;
        color: #d87a61;
      }
    }
  }
  .hotel-details__facilities {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .hotel-details__facility {
      margin: 5px 0;
      width: 33%;
      @include media("<=tablet") {
        width: 100%;
      }
    }
  }
  .more-facilities {
    font-size: 24px;
    letter-spacing: 1px;
    color: #d97a61;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  // ICON TOOLTIPS
  [tooltip] {
    position: relative;
  }
  [tooltip]:hover::after,
  [tooltip]:hover::before {
    opacity: 1;
  }
  [tooltip]::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(88, 88, 88, 0.7) transparent transparent transparent;
    z-index: 100;
    opacity: 0;
  }
  [tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: 6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(88, 88, 88, 0.7);
    text-align: center;
    color: #fff;
    padding: 4px 2px;
    // font-size: 12px;
    min-width: 80px;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
  }
}
