

#main-nav {
  background: #fff;
  // overflow: hidden;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

#main-nav .navbar-nav a {
  font-size: 18px;
  border-radius: 0;
}

#main-nav .navbar-nav .first-nav-button a {
  border-radius: 0;
  border-left: 1px solid #f0f1f3;
  border-right: 1px solid #f0f1f3;
  margin-left: 0;
  padding: 25px 25px;
}

#main-nav .navbar-nav .first-nav-button a i {
  float: left;
  margin-top: -6px;
  margin-right: 10px;
}



#main-nav.home_page {
  // background: transparent url(../images/bgr-home-new.jpg) no-repeat top center;
  background-size: cover;
  min-height: 500px;
}


// #main-nav #second-nav {
//   background-color: transparent;
// }

// #main-nav #second-nav .navbar-nav a {
//   font-size: 1.2em;
//   border-radius: 0;
//   border-bottom: 4px solid transparent !important;
//   background-color: transparent;
//   color: #fff;
//   padding: 10px 25px;
// }

// #main-nav #second-nav .navbar-nav a:hover,
// #main-nav #second-nav .navbar-nav li a.active {
//   font-size: 1.2em;
//   border-radius: 0;
//   font-weight: 400;
//   color: #fff;
//   border-bottom: 4px solid #d87a61 !important;
//   background-color: transparent;
//   padding: 10px 25px;
// }

#main-nav .absolute_box {
  bottom: 0;
  margin-bottom: 100px;
  position: absolute;
}


#main-nav #search-bar .form-group {
  margin-bottom: 0;
  margin-right: 5px;
  flex-grow: 1;
}

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0.1px solid #ccc;
}

.navbar-logo {
    float: left;
    height: 50px;
    margin: 15px 0;
    font-size: 18px;
    line-height: 20px;
}
.navbar-logo {
  height: auto;
}
.navbar-logo {
  margin: 15px 0;
  width: 180px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .navbar-logo {
    flex-basis: 87%;
  }
  .navbar-logo img {
    height: 40px;
  }
}
@media only screen and (max-width: 667px) {
  .navbar-logo img {
    height: 40px;
  }
}

@media (max-width: 493px) {
  #main-nav #second-nav .navbar-nav a {
      padding-bottom: 2px;
  }
}
