@import '../../../vendors/include-media';
#listing-price-container {
  input, select {
    margin-top: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 100%;
  }
  label {
    padding-top: 10px;
  }
  hr {
    border-top: 1px solid #ccc;
  }
  h2 {
    padding-top: 20px;
  }
}
