$breakpoints: (
  "xs-phone": 320px,
  "phone": 440px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// ligatured operators ≥ ≤

@import "../../../vendors/include-media";

@import "../../../base/functions";
@import "../../../base/variables";
@import "../../../base/mixins";
@import "../../../base/helpers";

.air-tickets {
  &-form {
    display: flex;
    border-radius: 3px;
    margin-bottom: 35px;
    text-align: center;
    padding: 4px 7px;
    justify-content: center;
    background: $white;
    .Select-clear {
      display: none !important;
    }
    @include media("<=widescreen") {
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
    @include media("<=desktop") {
      background: $light-gray;
    }
    &-select {
      position: relative;
      padding: 7px 0;
      width: 13%;
      min-width: 180px;
      background: $white;
      @include media("<=widescreen") {
        width: 50%;
      }
      @include media("<=desktop") {
        width: 100%;
        margin-bottom: 10px;
        border-right: none;
      }
      select {
        font-size: 18px;
        height: 100%;
        border: none;
        padding: 5px 18px;
      }
      &:after {
        position: absolute;
        content: "\e900";
        font-family: "icomoon" !important;
        padding: 0 8px;
        font-size: 5px;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        text-align: center;
        pointer-events: none;
        box-sizing: border-box;
        @include media(">=desktop") {
          font-size: 7px;
        }
      }
      .Select-value {
        width: calc(100% - 50px);
      }
    }
    .air-tickets-form-check-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      background: $white;
      @include media("<=widescreen") {
        width: 70%;
        .check {
          border: none !important;
        }
      }
      @include media("<=desktop") {
        margin-bottom: 10px;
        padding: 7px 0;
      }
      @include media("<=tablet") {
        width: 100%;
      }
      @include media("<=phone") {
        .check {
          .check-in,
          .roundtrip {
            width: 100px;
            span {
              display: none;
            }
          }
        }
      }
      .check {
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
      }
    }
    .air-tickets-form-flex-search {
      width: 15%;
      display: flex;
      align-items: center;
      background: #fff;
      cursor: pointer;
      @include media("<=widescreen") {
        width: 30%;
        .check {
          border: none !important;
        }
      }
      @include media("<=desktop") {
        margin-bottom: 10px;
        padding: 7px 0;
      }
      @include media("<=tablet") {
        width: 30%;
        justify-content: center;
      }
      @include media("<=phone") {
        width: 100%;
        padding: 17px 0;
      }
    }
    .air-tickets-form-passengers-wrap {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      position: relative;
      @include media("<=widescreen") {
        width: 30%;
      }
      @include media("<=desktop") {
        width: 25%;
        margin-bottom: 10px;
      }
      @include media("<=tablet") {
        width: 70%;
        margin-bottom: 10px;
        padding: 17px 0;
      }
      @include media("<=phone") {
        width: 100%;
      }
      .passengers-title {
        cursor: pointer;
      }
      .passengers-popup {
        position: absolute;
        text-align: left;
        width: 405px;
        background-color: #fff;
        top: 120%;
        left: 0;
        z-index: 1;
        padding: 20px 25px;
        border-radius: 3px;
        font-weight: 400;
        &-item {
          display: flex;
          margin-bottom: 20px;
          &-title {
            width: 70%;
          }
          &-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            min-width: 100px;
            .plus,
            .minus {
              cursor: pointer;
              font-size: 20px;
              color: $moderate-red;
              border: 2px solid $moderate-red;
              border-radius: 50%;
              width: 35px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .count {
              font-weight: 300;
            }
          }
        }
        @include media("<=tablet") {
          width: 100%;
        }
        .button-holder {
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;
          .passengers-apply-button {
            font-weight: 400;
            color: $moderate-red;
            cursor: pointer;
          }
        }
      }
    }
    .air-tickets-form-flight-class,
    .air-tickets-form-flight-stops,
    .air-tickets-form-departure-time {
      background: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      .select-selected {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .air-tickets-form-flight-class,
    .air-tickets-form-departure-time {
      min-width: 80px;
      width: 7%;
      @include media("<=widescreen") {
        width: 20%;
      }
      @include media("<=desktop") {
        width: 25%;
        margin-bottom: 10px;
      }
      @include media("<=tablet") {
        width: 33%;
      }
    }
    .air-tickets-form-flight-stops {
      min-width: 70px;
      width: 5%;
      @include media("<=widescreen") {
        width: 20%;
      }
      @include media("<=desktop") {
        width: 25%;
        margin-bottom: 10px;
      }
      @include media("<=tablet") {
        width: 34%;
      }
    }
    .air-tickets-form-flight-class {
      @include media("<=widescreen") {
        border-right: none;
      }
    }
    .btn {
      width: 100%;
      @include media(">=desktop") {
        width: auto;
        min-width: 80px;
      }
    }
  }
}
