$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// ligatured operators ≥ ≤

@import "../../../vendors/include-media";

@import "../../../base/functions";
@import "../../../base/variables";
@import "../../../base/mixins";
@import "../../../base/helpers";

.air-tickets {
  &-form {
    display: flex;
    border-radius: 3px;
    margin-bottom: 35px;
    text-align: center;
    padding: 4px 7px;
    justify-content: center;
    background: $white;
    .Select-clear {
      display: none !important;
    }
    @include media("<=widescreen") {
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
    @include media("<=desktop") {
      background: $light-gray;
    }
    &-select {
      position: relative;
      padding: 7px 0;
      width: 13%;
      border-right: 1px solid $gray;
      min-width: 180px;
      background: $white;
      @include media("<=widescreen") {
        width: 33%;
      }
      @include media("<=desktop") {
        width: 100%;
        margin-bottom: 10px;
        border-right: none;
      }
      select {
        font-size: 18px;
        height: 100%;
        border: none;
        padding: 5px 18px;
      }
      &:after {
        position: absolute;
        content: "\e900";
        font-family: "icomoon" !important;
        padding: 0 8px;
        font-size: 5px;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        text-align: center;
        pointer-events: none;
        box-sizing: border-box;
        @include media(">=desktop") {
          font-size: 7px;
        }
      }
      .Select-value {
        width: calc(100% - 50px);
      }
      &.guests {
        position: relative;
        border-right: none;
        &:hover {
          .fake-dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
        .fake-dropdown {
          @include animate(opacity visibility transform);
          position: absolute;
          right: -15px;
          top: calc(100% + 10px);
          min-height: 60vh;
          background: #f0f1f3;
          padding: 0 0 70px 0;
          border-radius: 3px;
          box-shadow: 2px 2px 5px 0px rgba(14, 23, 27, 0.1);
          z-index: 2;
          opacity: 0;
          visibility: hidden;
          transform: translateY(50%);
          min-width: 290px;
          width: 100vw;
          @include media(">=desktop") {
            position: absolute;
            right: auto;
            left: 0;
            min-width: 325px;
            width: 100%;
            top: calc(100% + 10px);
            background: $white;
            padding: 25px;
            min-height: auto;
          }
          @include media(">=widescreen") {
            min-width: 397px;
          }
          ul {
            border-bottom: 1px solid $gray;
            margin-bottom: 25px;
            padding-bottom: 25px;
            padding-right: 25px;
            padding-left: 25px;
            @include media(">=desktop") {
              padding-right: 0;
              padding-left: 0;
            }
            &:last-of-type {
              border-bottom: none;
            }
            li {
              span {
                font-size: 14px;
                @include media(">=desktop") {
                  font-weight: 400;
                  font-size: 18px;
                }
              }
            }
          }
          .input-wrap {
            span {
              width: 34px;
              height: 34px;
              border-width: 2px;
              border-radius: 100%;
            }
          }
          .apply {
            text-align: center;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px;
            background: $white;
            box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.1);
            @include media(">=desktop") {
              text-align: right;
              width: auto;
              position: relative;
              padding: 0;
              background: none;
              right: auto;
              box-shadow: none;
            }
            a {
              font-size: 18px;
              color: $white;
              background: $moderate-red;
              width: 100%;
              display: block;
              padding: 13px;
              @include media(">=desktop") {
                color: $moderate-red;
                background: none;
                font-weight: 400;
              }
              &:hover {
                color: $light-cyan;
              }
            }
          }
        }
      }
    }
    &-check-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 29%;
      padding: 0 10px;
      border-right: 1px solid $gray;
      background: $white;
      @include media("<=widescreen") {
        width: 33%;
        border-right: none;
      }
      @include media("<=desktop") {
        width: 100%;
        margin-bottom: 10px;
        padding: 7px 0;
      }
      .check {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media("<=phone") {
          width: 85%;
        }
        .icon-arrow-right {
          display: flex;
          align-items: center;
          font-size: 0.8em;
          margin: 0 10px 0 5px;
        }
        .choose-roundtrip {
          display: flex;
          align-items: center;
          &.hide-single {
            display: none;
          }
          .roundtrip {
            padding: 5px;
            width: 130px;
            display: inline-flex;
            justify-content: center;
            border-bottom: 2px solid #fff;
            &:hover {
              border-bottom: 2px solid #d87a61;
            }
            .icon-calendar {
              display: flex;
              align-items: center;
              margin-left: 6px;
              margin-right: 9px;
              font-size: 0.9em;
              color: #898c8d;
            }
            .content {
              margin: 0;
              .text {
                text-align: left;
                min-width: 80px;
                font-size: 16px;
                text-align: left;
              }
            }
          }
        }
        .close-roundtrip-holder {
          position: relative;
          .close-roundtrip-button {
            position: absolute;
            top: -30px;
            right: 0px;
            color: #d87a61;
            font-size: 1.2em;
            &.hide-close-roundtrip {
              display: none;
            }
            cursor: pointer;
            &:before {
              content: "\00d7";
            }
          }
        }
      }
    }
    .air-tickets-form-guest-wrap {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $gray;
      background: $white;
      @include media("<=widescreen") {
        width: 30%;
      }
      @include media("<=desktop") {
        width: 25%;
        margin-bottom: 10px;
      }
      select,
      .select-children {
        border: 0;
      }
      .select-children:hover {
        cursor: pointer;
      }
      .select-adults {
        width: 80%;
      }
      .select-children {
        width: 80px;
        padding: 8px;
      }
    }
    .air-tickets-form-flight-class,
    .air-tickets-form-flight-stops,
    .air-tickets-form-departure-time {
      background: $white;
      border-right: 1px solid $gray;
      display: flex;
      justify-content: center;
      align-items: center;
      .select-selected {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .air-tickets-form-flight-class,
    .air-tickets-form-departure-time {
      min-width: 80px;
      width: 7%;
      @include media("<=widescreen") {
        width: 20%;
      }
      @include media("<=desktop") {
        width: 25%;
        margin-bottom: 10px;
      }
    }
    .air-tickets-form-flight-stops {
      min-width: 70px;
      width: 6%;
      @include media("<=widescreen") {
        width: 20%;
      }
      @include media("<=desktop") {
        width: 25%;
        margin-bottom: 10px;
      }
    }
    .air-tickets-form-flight-class {
      @include media("<=widescreen") {
        border-right: none;
      }
    }
    .btn {
      width: 100%;
      @include media(">=desktop") {
        width: auto;
        min-width: 80px;
      }
    }
  }
}
