@import '../../../vendors/include-media';
#homes-booking-page-container {
  .container {
    display: flex;
    justify-content: space-between;
    @include media("<=tablet") {
      flex-direction: column;
    }
    .confirm-and-pay-details {
      width: 50%;
      @include media("<=tablet") {
        width: 100%;
      }
    }
  }
}
