@import "../../../styles/css/base/_variables.scss";
@import '../../../styles/css/vendors/include-media';

.affiliates-container {
  padding-bottom: 20px;

  .affiliates-head-section {
    display: flex;
    justify-content: space-between;

    @include media("<=tablet") {
      flex-direction: column;
    }
  }
}

.btn {
  min-width: 200px;
}

.btn.active {
  background: $light-cyan;
  color: $white
}

.referral-link {
  padding: 0 10px;
  background: white;
  font-weight: 500;
}

.bookings-list-holder {
  padding: 20px 0;
}

.single-booking {
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bookings-container, .controls-container {
  padding: 10px 0;
}

.withdraw-button-wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;

  .threshold-message {
    //padding: 10px
  }
}

.threshold-message  {
  margin-left: 20px
}

.stats-chart {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;

  @include media("<=tablet") {
    flex-direction: column;
  }

  .chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .chart-panel {
      width: 100%;
    }

    .chart-no-entries-message {
      text-align: center;
    }
  }

  .stats-controls {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    .revenue-button{
      margin-top: 5px;
    }
  }
}


