/* @media screen and (min-width: 768px) {
  .myModal .modal-dialog {
    width: 440px;
    margin: 30px auto;
  }
}
.myModal .modal-content {
  padding: 20px;
  background-color: #f0f1f3;
}
.myModal .modal-header {
  position: relative;
  border-bottom: 0;
}
.myModal .modal-header h1 {
  text-align: left;
  width: 85%;
  font-size: 24px;
  margin-bottom: 0;
}
.myModal hr {
  border-top: 1px solid #ccc;
}
.myModal .form-group {
  position: relative;
}
.myModal .form-group input {
  border: 1px solid #ccc;
  display: block;
  min-height: 50px;
  width: 100%;
  padding-left: 40px;
  margin-bottom: 10px;
}
.myModal .form-group img {
  position: absolute;
  top: 20px;
  left: 12px;
}
.myModal .form-group .password-image {
  top: 15px;
  left: 12px;
}
.myModal input[type="checkbox"] {
  margin-right: 10px;
}
.myModal p {
  margin: 20px 0px 10px 0;
  text-align: center;
}
.myModal .btn {
  margin-top: 15px;
  width: 100%;
}
.myModal .signup-rights {
  text-align: center;
}
.login-sign {
  text-align: center;
}
.login-sign a {
  text-decoration: underline;
  cursor: pointer;
}
button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 2px solid #213843;
  border-radius: 50px;
  color: #213843;
  font-size: 13px;
  font-weight: 700;
  height: 35px;
  opacity: 1;
  outline: none;
  user-select: none;
  width: 35px;
}
button.close:hover {
  opacity: 0.2;
} */
