@import '../../../styles/css/base/variables';

.nav-dropdown-menu {
  position: relative;
  display: inline-block;

  .menu {
    position: absolute;
    z-index: 9999;
    top: 80%;
    right: 0px;
    min-width: 250px;
    background: $white;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    // padding: 20px;
    border: 1px solid $light-gray;
    text-align: center;
    padding: 20px 0;

    .dropdown-menu-item {
      display: block;
      padding: 15px 30px;

      &:hover, &:active {
        background: $light-gray;
        color: $moderate-red;
      }
    }
  }

  &__button {
    cursor: pointer;
    padding: 20px;

    &:hover, &:active {
      color: $moderate-red;
    }
  }

  &__button::after {
    position: relative;
    content: "\E900";
    font-family: icomoon!important;
    margin-right:10px;
    font-size: 3px;
    right: -5px;
    top: -3px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}