.air-tickets-profile {
  display: flex;
  justify-content: space-between;
  .air-tickets-profile-nav {
    width: 25%;
  }
  .air-tickets-profile-content {
    width: 65%;
    .air-tickets-edit-profile {
      
    }
  }
}