.pay-with-loc-wrapper,
.pay-with-cc-wrapper {
  text-align: center;
  margin-bottom: 50px;

  .price-wrapper {
    margin-bottom: 15px;

    .total-price,
    .total-loc-price {
      margin-right: 10px;
    }
  }
}
