$breakpoints: (
	'phone': 410px,
	'tablet': 768px,
	'desktop': 1024px
);

@import '../../../styles/css/vendors/include-media';
@import '../../../styles/css/base/variables';

.common-datepicker {
  display: flex;
  justify-content: center;
  width: 100%;
  .check-in,
  .check-out {
    padding: 5px;
    width: 130px;
    display: inline-flex;
    justify-content: center;
    border-bottom: 2px solid $white;
    // img {
    //   margin-right: 5px;
    //   max-width: 70%;
    // }
    .arrow {
      display: flex;
      align-items: center;
    }
    .icon-calendar {
      display: flex;
      align-items: center;
      margin-right: 10px;
      font-size: 0.9em;
      color: $moderate-gray;
    }
    .date-container {
      margin: 0;
      .text {
        text-align: left;
      }
      .date {
        min-width: 80px;
        font-size: 0.8em;
        font-weight: 400;
        text-align: left;
        span {
          color: #A2C5BF;
        }
      }
    }

    &:hover, &.opened {
      cursor: pointer;
      border-bottom: 2px solid $moderate-red;
    }
  }
  .arrow-icon-container {
    min-width: 30px;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  @include media("<=desktop") {
    .check-in,
    .check-out {
      justify-content: center;
    }
  }
  @include media("<=tablet") {
    .row-container {
      .date-mon-day {
        p {
          font-size: 12px;
        }
      }
    }
  }
  @include media("<=phone") {
    .check-in,
    .check-out {
      min-width: 100px;
      img {
        display: none;
      }
    }
    .arrow-icon-container {
      display: none;
    }
  }

  // OVERRIDE OF REACT-DATEPICKER
  .react-datepicker__triangle {
    display: none;
  }
  .check-out-popper {
    left: -168px !important;
  }
  // .react-datepicker-popper[data-placement^="bottom"] {
  //   margin-top: 17px;
  //   margin-left: -5px;
  // }
  // .react-datepicker__month-container {
  //   font-family: "Futura", sans-serif;
  // }
  // .react-datepicker__day-name,
  // .react-datepicker__day,
  // .react-datepicker__time-name {
  //   min-width: 3.8rem;
  //   width: auto;
  //   margin: 0;
  //   user-select: none;
  // }
  // .react-datepicker__day {
  //   border-radius: 0;
  //   padding: 10px;
  //   font-size: 1.3rem;
  //   display: table-cell;
  //   border: 1px solid #f0f1f3;
  //   box-sizing: border-box;
  // }
  // .react-datepicker__day--outside-month {
  //   visibility: hidden;
  // }
  // .react-datepicker__day:nth-of-type(even) {
  //   border-right: 0;
  // }
  // .react-datepicker__week {
  //   display: table-row;
  // }
  // .react-datepicker__month-container {
  //   display: table;
  //   border-collapse: collapse;
  // }
  // .react-datepicker__current-month,
  // .react-datepicker-time__header {
  //   font-size: 18px;
  //   font-weight: normal;
  //   margin-bottom: 25px;
  // }
  
  // .react-datepicker__day-names {
  //   font-size: 14px;
  //   user-select: none;
  // }
  // .react-datepicker__header {
  //   background-color: #ffffff;
  //   border: none;
  //   padding-top: 20px;
  // }
  // .react-datepicker__month {
  //   margin: 1rem 4.9rem 3rem 4.9rem;
  // }
  // .react-datepicker__navigation--previous::before {
  //   content: "\E901";
  //   font-family: "icomoon", sans-serif;
  // }
  // .react-datepicker__navigation--next {
  //   right: 53px;
  // }
  // .react-datepicker__navigation--next::before {
  //   content: "\E902";
  //   font-family: "icomoon", sans-serif;
  // }
  // .react-datepicker__day--selected,
  // .react-datepicker__day--in-range {
  //   background-color: #d77961 !important;
  //   border-radius: 0 !important;
  //   border-color: #d77961 !important;
  // }
  // .react-datepicker__day--in-selecting-range {
  //   background-color: #d77961b0 !important;
  //   border-color: #d77961b0 !important;
  // }
  // .react-datepicker__month--selecting-range
  //   .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
  //   color: #fff;
  // }
  // .react-datepicker-popper {
  //   z-index: 3;
  // }
  // .react-datepicker__navigation {
  //   text-indent: unset;
  //   overflow: unset;
  //   visibility: collapse;
  //   top: 17px;
  // }
  // .react-datepicker__navigation::before {
  //   visibility: visible;
  //   font-size: 12px;
  //   padding: 10px;
  //   border: 1px solid lightgray;
  //   color: lightgray;
  //   border-radius: 5px;
  // }
  // .react-datepicker-popper-custom {
  //   left: 76px!important;
  // }
}

