@import "../../../../vendors/include-media";
@import "../../../../base/variables";

.air-tickets-profile {
  display: flex;
  justify-content: space-between;
  @include media("<tablet") {
    flex-wrap: wrap;
  }
  .air-tickets-profile-nav {
    width: 25%;
    @include media("<tablet") {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .air-tickets-profile-content {
    width: 65%;
    @include media("<tablet") {
      width: 100%;
    }
    select {
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      background-color: white;
      padding: 15px;
      width: 100%;
      white-space: pre-line;
      padding-right: 48px;
    }
    h2 {
      margin: 0;
    }
    hr {
      margin-top: 10px;
      border-top: 1px solid #cfcfcf;
    }
    label {
      display: block;
      margin: 10px 0 5px 5px;
    }
    input {
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      background-color: white;
      padding: 15px;
      width: 100%;
    }
    .mandatory {
      color: $moderate-red;
      font-weight: 700;
    }
    form > div {
      clear: both;
      margin-bottom: 20px;
    }
    .buttons-wrapper {
      display: flex;
      justify-content: space-between;
      .btn-back {
        display: flex;
        align-items: center;
        &:hover {
          color: #333;
        }
      }
      .btn {
        padding: 15px 70px;
        margin: 20px 0;
      }
    }
  }
}
