@import "../../../../base/variables";

.reservations-container {
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  .reservations-table {
    table {
      display: block;
      overflow-x: auto;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
      margin: 1% 0 5%;
      background-color: #fff;
    }
    th {
      font-weight: 400;
    }
    td {
      a {
        color: $moderate-red;
        font-size: 14px;
      }
    }
    th,
    td {
      text-align: left;
      padding: 8px;
      max-width: 110px;
      word-wrap: break-word;
      border: 1px solid #ddd;
    }
  }
}
