$breakpoints: ( 'xs-phone': 320px, 'phone': 480px, 'tablet': 768px, 'desktop': 1024px, 'widescreen': 1200px);
@import '../../../vendors/include-media';
@import '../../../base/mixins';
.dashboard-flex-reservations-container {
  align-items: center;
  font-size: 18px;
  .icon {
    display: none;
  }
  .tablet-col-1 {
    display: inline-flex;
    width: 32%;
    .dashboard-image {
      width: 33%;
      min-width: 80px;
      @include imageHost();
    }
    .dashboard-booker {
      padding-right: 10%;
      width: 67%;
      .booker-name {
        font-weight: 400;
      }
    }
  }
  .tablet-col-2 {
    display: inline-flex;
    width: 68%;
    .dashboard-dates {
      width: 34%;
      @include checkInCheckoutDates();
      @include media("<=phone") {
        order: 2;
      }
    }
    .dashboard-nights {
      width: 27%;
    }
    .dashboard-status {
      width: 27%;
      span {
        @include media("<=phone") {
          font-size: 0.9em;
        }
      }
      .status {
        font-weight: 400;
      }
    }
    .dashboard-date {
      width: 10%;
      @include media("<=tablet") {
        order: 1;
        width: 100%;
        text-align: center;
      }
    }
  }
  @include media("<=tablet") {
    padding: 5%;
    &.flex-container-header {
      display: none;
    }
    .tablet-col-1 {
      display: block;
      width: 30%;
      text-align: center;
      min-width: 180px;
      .dashboard-image,
      .dashboard-booker {
        width: 90%;
      }
      .dashboard-booker {
        margin-top: 10%;
      }
    }
    .tablet-col-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      .dashboard-dates,
      .dashboard-nights {
        margin-bottom: 5%;
      }
      .dashboard-date {
        order: 1;
        width: 100%;
        text-align: center;
        .creation-date {
          display: inline-block !important;
          font-weight: 400;
        }
      }
      .dashboard-dates {
        @include rowWithIconInMobile(center, 100%);
        order: 2;
      }
      .dashboard-nights {
        @include rowWithIconInMobile(center, 100%);
        order: 3;
      }
      .dashboard-status {
        width: 100%;
        @include statusRowInMobile();
        order: 4;
      }
    }
  }
  @include media("<=phone") {
    flex-wrap: wrap;
    margin-bottom: 10%;
    .tablet-col-1 {
      width: 100%;
      .dashboard-image {
        @include imageHostInMobile();
      }
      .dashboard-booker {
        margin-top: 5%;
        @include rowWithIconInMobile(center, 100%);
      }
    }
    .tablet-col-2 {
      display: flex;
      width: 100%;
      .dashboard-date {
        order: 1;
        margin-top: 5%;
      }
      .dashboard-dates {
        font-size: 1em;
        order: 2;
        .icon {
          margin-right: 0;
        }
      }
      .dashboard-nights {
        order: 3;
        .icon {
          margin-right: 0;
        }
      }
      .dashboard-status {
        order: 4;
      }
    }
  }
}
