$breakpoints: (
	'xs-phone': 320px,
	'phone': 490px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

@import '../../../vendors/include-media';

@import '../../../base/mixins';

.trips-flex-container {
  font-size: 18px;
  .icon {
    display: none;
  }
  .tablet-col-1 {
    width: 32%;
    display: inline-flex;
    .trips-image {
      width: 25%;
      @include imageHost();
    }
    .trips-host {
      width: 75%;
      .send-message-icon {
        background: url(../../../../images/icon-mail.png) center center;
        display: inline-block;
        height: 15px;
        width: 23px;
        margin-right: 5px;
      }
      .hostName {
        font-weight: 400;
        margin-bottom: 3%;
      }
      .email, .phoneNumber {
        font-size: 19px;
        margin-bottom: 3%;
      }
    }
  }
  .tablet-col-2 {
    width: 68%;
    display: inline-flex;
    .trips-location {
      width: 30%;
    }
    .trips-dates {
      width: 35%;
      @include checkInCheckoutDates();
    }
    .trips-actions {
      width: 20%;
      button {
        padding-bottom: 10px;
        color: #E98B73;
        background: none;
        border: none;
        outline: none;
      }
    }
    .trips-status {
      width: 18%;
      .status {
        font-weight: 400;
      }
    }
  }

  @include media(">tablet" , "<=desktop") {
    padding: 5%;
    .tablet-col-1 {
      display: block;
      width: 30%;
      text-align: center;
      .trips-image,
      .trips-host {
        width: 80%;
      }
      .trips-host {
        margin-top: 10%;
      }
    }

    .tablet-col-2 {
      width: 70%; 
      flex-wrap: wrap;
      @include icon();
      .trips-location,
      .trips-dates,
      .trips-actions {
        margin-bottom: 5%;
      }
      .trips-location,
      .trips-dates {
        @include rowWithIconInMobile(left, 50%);
      }
      .trips-actions {
        @include rowWithIconInMobile(left, 100%);
      }
      .trips-status {
        width: 50%;
        border-top: 0px;
        @include statusRowInMobile();
      }
    }

  }

  @include media(">phone" , "<=tablet") {
    padding: 5%;
    .tablet-col-1 {
      display: block;
      width: 30%;
      text-align: center;
      min-width: 180px;
      .trips-image,
      .trips-host {
        width: 90%;
      }
      .trips-host {
        margin-top: 10%;
      }
    }

    .tablet-col-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      .trips-location,
      .trips-dates,
      .trips-actions {
        margin-bottom: 5%;
      }
      .trips-location {
        @include rowWithIconInMobile(center, 100%);
      }
      .trips-dates {
        @include rowWithIconInMobile(center, 100%);
      }
      .trips-actions {
        @include rowWithIconInMobile(center, 100%);
      }
      .trips-status {
        width: 100%;
        @include statusRowInMobile();
      }
    }

  }

  @include media("<=phone") {
    flex-wrap: wrap;
    padding: 5%;
    margin-bottom: 10%;
    .tablet-col-1 {
      display: block !important;
      width: 100% !important;
      .trips-image {
        @include imageHostInMobile();
      }
      .trips-host {
        margin-bottom: 5%;
        margin-top: 5%;
        @include rowWithIconInMobile(center, 100%);
      }
    }

    .tablet-col-2 {
      display: block !important;
      width: 100% !important;
      .trips-location,
      .trips-dates,
      .trips-actions {
        margin-bottom: 5%;
      }
      .trips-location {
        @include rowWithIconInMobile(center, 100%);
      }
      .trips-dates {
        @include rowWithIconInMobile(center, 100%);
      }
      .trips-actions {
        @include rowWithIconInMobile(center, 100%);
      }
      .trips-status {
        @include statusRowInMobile();
      }
    }
  }
}