$breakpoints: (
	'phone': 410px,
	'tablet': 768px,
	'desktop': 1024px
);

@import '../../../../vendors/include-media';

.search-bar-date-picker-hide-preview-single {
  display: flex;
  width: 100%;
  height: inherit;
  .check-in {
    min-width: 120px;
    width: 100%;
    display: inline-flex;
    .calendar-image-container {
      min-width: 26px;
      width: 20%;
      height: 37px;
      display: flex;
      align-items: center;
    }
    .row-container {
      text-align: left;
      margin: 0 5px;
      font-size: 18px;
      display: flex;
      align-items: center;
      width: 90%;
      .title {
        width: 50%;
      }
      .date-mon-day {
        width: 50%;
        div {
          font-size: 12px;
          font-weight: 400;
          span {
            color: #A2C5BF;
            font-size: 14px;
          }
          .date-color {
            color: #DA836F;
          }
        }
      }
    }
  }
  @include media("<=desktop") {
    .check-in {
      justify-content: center;
    }
  }
  @include media("<=tablet") {
    .row-container {
      .date-mon-day {
        p {
          font-size: 12px;
        }
      }
    }
  }
  @include media("<=phone") {
    .check-in {
      min-width: 100px;
      img {
        display: none;
      }
    }
  }
}