@import '../../../vendors/include-media';
@import '../../../base/variables';

/* Hotel Info Section */

#room-book {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .rooms {
    width: 100%;
  }

  .room {
    width: 100%;
    margin-bottom: 30px;

    .guest {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      @include media ('<=tablet') {
        flex-direction: column;
      }
      
      label {
        width: 10%;
        font-size: 16px;
        margin-right: 10px;
        
        @include media ('<=tablet') {
          width: 100%;
          margin: 0 0 10px 0;
        }
      }
      
      .title-select {
        padding: 15px 39px 15px 15px;
        width: 15%;
        outline: none;
        border-radius: 3px;
        margin-right: 10px;

        @include media ('<=tablet') {
          width: 100%;
          margin: 0 0 10px 0;
        }
      }

      .guest-name {
        flex: 1;
        font-size: 16px;
        padding: 15px 39px 15px 15px;
        outline: none;
        border-radius: 3px;
        margin-right: 10px;
        border: 1px solid rgb(169, 169, 169);
      
        &:last-of-type {
          margin-right: 0;
        }

        @include media ('<=tablet') {
          width: 100%;
          margin: 0 0 10px 0;
        }
      }
      
    }
  }
}

#room-book .child-age {
  font-size: 16px;
  padding: 15px 39px 15px 15px;
  width: 15%;
  outline: none;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid rgb(169, 169, 169);
}

#room-book .btn-book {
  margin-top: auto;
  margin-bottom: 0;
}

#room-book .hotel-info {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  max-width: 500px;
  margin: 0 auto;
}

#room-book .hotel-info h1,
h2,
h3 {
  font-family: inherit;
}

#room-book .hotel-info .hotel-picture {
  width: 100%;
  max-height: 200px;
  border-radius: 3px;
  margin: 0 auto 20px auto;
  overflow: hidden;
}

#room-book .hotel-info .hotel-picture img {
  width: 100%;
}

#room-book .hotel-info .total-price {
  float: right
}