@import '../../../vendors/include-media';
@import '../../../base/variables';

#room-book-confirm {
  .booking-details-header {
    display: flex;
    justify-content: space-between;
    @include media("<=tablet") {
      margin-top: 20px;
      flex-direction: column;
      text-align: center;
    }
  }
  .confirm-pay-info {
    @include media("<=tablet") {
      flex-direction: column;
    }
    .tables-container {
      display: flex;
      @include media("<=tablet") {
        flex-direction: column;
      }
      .confirm-and-pay-table {
        border: 1px solid rgb(169, 169, 169);
        margin: 20px 0;
        padding: 10px;
        border-radius: 2px;
        width: 50%;
        background-color: #fff;
        &:first-child {
          margin-right: 10px;
        }
        @include media("<=tablet") {
          width: 100%;
        }
        h4 {
          margin: 20px; 
          text-align: center;
        }
      }
    }
    .payment-methods {
      display: flex;
      justify-content: space-between;
      @include media("<=tablet") {
        // margin-top: 20px;
        flex-direction: column;
        text-align: center;
      }
      &-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .price-update-timer {
          padding: 10px;
          font-weight: 400;
          border-radius: 3px;
          color: $white;
          background-color: $light-cyan;
          margin-bottom: 10px;
        }
      }
      &-loc {
        display: flex;        
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
    // .total-prices-info {
    //   width: 30%;
    //   text-align: right;
    //   padding-right: 20px;
    //   @include media("<=tablet") {
    //     width: 100%;
    //     font-size: 18px;
    //     padding-right: 0;
    //   }
    //   .order-name {
    //     display: flex;
    //     justify-content: flex-end;
    //     margin-bottom: 5%;
    //     @include media("<=tablet") {
    //       justify-content: center;
    //     }
    //     p:last-of-type {
    //         font-weight: 400;
    //     }
    //   }
    //   .order-total {
    //     display: flex;
    //     flex-direction: column;
    //     padding-right: 0;
    //     div:first-child {
    //       margin-bottom: 10%;
    //     }
    //     a {
    //       color: #E98B73;
    //       background: none;
    //       border: none;
    //       outline: none;
    //     }
    //     .not-verify-info {
    //       margin-bottom: 1em;
    //       p {
    //         margin-top: 2px;
    //       }
    //     }
    //     @include media("<=tablet") {
    //       text-align: center;
    //       margin: auto;
    //     }
    //     p {
    //       @include media("<=tablet") {
    //         text-align: center;
    //         padding-right: 0;
    //       }
    //     }
    //   }
      .booking-price {
        margin-bottom: 0;
      }
      .btn {
        // margin-top: 3%;
        padding: 10px;
        @include media("<=tablet") {
          width: 100%;
          margin-bottom: 10%;
        }
        &.btn-book {
          // margin-bottom: 10%;
          @include media("<=tablet") {
            margin-bottom: 5%;
          }
        }
      }
    }
  }



// #room-book-confirm {
//   margin-top: 20px;
// }

// #room-book-confirm .booking-details {
//   /* width: 50%; */
//   margin: 0 auto;
//   background-color: white;
//   padding: 20px;
//   margin-bottom: 30px;
//   border-radius: 3px;
// }

#room-book-confirm table {
  margin: 0 auto;
}

// #room-book-confirm table button {
//   background: none;
//   color: #d87a61;
//   border: 0;
//   outline: none;
// }

// #room-book-confirm .cancelation-fees {
//   text-align: center;
// }

#room-book-confirm table th,
td {
  padding: 10px;
}

#room-book-confirm table th {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#room-book-confirm table td {
  width: 15%;
  padding: 10px;
  text-align: center;
}

#room-book-confirm table tr td:last-child {
  text-align: center;
}

#room-book-confirm table tr.booking-room-canx-fee td {
  width: 15%;
  padding: 10px;
  background-color: #F5F5F5;
  color: #d87a61;
}

// /* #room-book-confirm .order-total,
// .order-name p {
//   text-align: right;
//   padding-right: 20px;
// } */

// #room-book-confirm::after {
//   content: '';
//   display: block;
//   clear: both;
// }

// #room-book-confirm .order {
//   font-size: 1.2em;
// }

.sms {
  display: grid;
  grid-template-columns: 80% 20%;
  .sms-button {
    max-height: 50px;
  }
}
