$breakpoints: (
	'phone': 410px,
	'tablet': 768px,
	'desktop': 1024px,
	'big-desktop': 1220px,
);

@import '../../../../styles/css/vendors/include-media';
@import '../../../../styles/css/base/variables';

.date-preview {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media("<=desktop") {
    justify-content: center;
  }

  .check-in,
  .check-out {
    padding: 5px 0;
    min-width: 110px;
    display: inline-flex;

    .date {
      font-size: 0.8em;
    }
  }

  .check-in .date span {
    color: $light-cyan;
  }

  .check-out .date span {
    color: $moderate-red;
  }
    
  .icon-calendar, .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

    @include media('<desktop') {
      display: none;
    }
  }

  .arrow {
    font-size: 0.8em;
    margin-right: 10px;
  }

  .nights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed $light-cyan;
    border-radius: 3px;
    padding: 5px;
    span {
      text-align: center;
      white-space:nowrap;
      font-size: 0.8em;
    }
  }
  @include media("<=desktop") {
    .check-in,
    .check-out {
      justify-content: center;
    }
  }
  @include media("<=tablet") {
    .row-container {
      .date-mon-day {
        p {
          font-size: 12px;
        }
      }
    }
  }
  @include media("<=phone") {
    .check-in,
    .check-out {
      min-width: 100px;
      img {
        display: none;
      }
    }
    .arrow-icon-container {
      display: none;
    }
  }
}