.identification-box {
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 18px;
  .info {
    padding: 18px 0;
  }
  .dropzone {
    background-color: #d87a61;
    text-align: center;
    color: white;
    border-radius: 4px;
    padding: 18px 0;
    .button {
      font-size: 18px;
      font-weight: normal;
    }
  }
}
hr {
  border-color: #DDD;
}

.box {
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  .btn {
    display: block;
  }
}
