#profile-nav {
  background-color: #223843;
  margin-bottom: 30px;

  ul.navbar-profile {
    list-style: none;
  }
  
  ul.navbar-profile>li {
    float: left;
    border-bottom: 3px solid transparent;
  }
  
  ul.navbar-profile>li>a {
    color: #f0f1f3;
    /* font-size: 17px; */
    letter-spacing: 1px;
    text-decoration: none;
    margin: 15px 20px 10px 20px;
    display: block;
    &:first-child {
      margin-left: 0;
    }
  }
  
  ul.navbar-profile>li>a:hover {
    color: #d87a61;
  }
  
  ul.navbar-profile>li>a.active {
    color: #d87a61;
  }
}